button {
    border: none;
    background-color: #8e4585;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: #423040;
  }
  
  .equals {
    grid-column: 4 / 5;
    background-color: #a272db;
  }

  .numbers {
    background-color: #b66dad;
  }
  