.clear-history {
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #de2ab42d;
}