@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 200, 251);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 70px;
  color: white;
}

.app {
  display: flex;
}

.child1 {
  flex: 1;
}

/* .child2 {
  width: 360px;
  height: 550px;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #b4437d;
} */